/.idea
/.idea/*
.idea/*
target/*
/target/*
/.svn
/**/target/*
*.classpath
*.project
/*/.settings/*
*.iml
.flattened-pom.xml
/*.flattened-pom.xml
.mvn
/**/pom.xml.releaseBackup
release.properties
pool/*
home/*
locData
dealLocData
**/.DS_Store
